<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    
    <h1 class="display-3">Welcome to Orders page</h1>
    
    <hr>
    <a class="btn btn-light btn-lg" href="/submit" role="button">Add New Order</a>
    <a class="btn btn-dark btn-lg" href="/orders" role="button">View orders</a>

  </div>
</div>

<%- include('partials/footer') %>
